<div class="container mt-3">
  <app-count-empleados [todos] = "obtenerTotalEmpleados()"
                      [masculino] = "obtenerTotalMasculinos()" 
                      [femenino] = "obtenerTotalFemeninos()"
                      (countRadioButtonChange) = "empleadoCountRadioButtonChange($event)"
                              ></app-count-empleados>
   <div class="card mt-3">
    <div class="card-body">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Genero</th>
            <th scope="col">Salario</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let empleado of listEmpleados" >
            <tr *ngIf="radioButtonSelect == 'Todos' || 
            radioButtonSelect == empleado.genero">
              <th>{{ empleado.id }}</th>
              <td>{{ empleado.nombre }}</td>
              <td>{{ empleado.apellido }}</td>
              <td>{{ empleado.genero }}</td>
              <td>{{ empleado.salario | currency }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
